a.active{
  font-weight: bold;
}

.tab-pane{
  display: none;
  opacity: 1.0;
}

.tab-pane.transitioning {
  display: block;
  opacity: 0;
}

.tab-pane.active{
  transition: opacity 0.5s;
  display: block;
}
